
{:deps {:aliases [:dev :common :node :kari]}
 :log {:level :debug}
 ;:source-paths ["src/cljs"]
 :dependencies []
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main nodesolutions1/main!
                }}}
