
{:deps {:aliases [:kari :dev :common :backend :node :calva-node]}
 :log {:level :debug}
 ;:source-paths ["src/cljs"]
 :builds {:app {:target :node-script
                :output-to "target/main.js"
                :main nodesolutions1/main!
                }}}
